<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block layout %}
<!-- 
    {% block name %}
    ユーザー編集
    {% endblock %} -->

    {{ super() }}

    <h1>名前</h1>

    <form action="/edit_user" method="post">

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" name="username"  value="{{ user.username }}" class="form-control" aria-describedby="basic-addon1">
        </div>


    <h1>現在のパスワード</h1>
    <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
    <h1>変更後のパスワード</h1>
    <div class="form-floating">
        <input type="password" name="repassword" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">RePassword</label>
      </div>
    <input  type="submit" class="btn btn-success" value="変更">
    </form>

    {% endblock %}

    {% block navber %}
    {{ super() }}
    {% endblock %}
</body>
</html>