<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>group</title>
</head>
<body>

    {% extends "layout.html" %}
    {% block layout %}
<!-- 
    {% block name %}
    グループ
    {% endblock %} -->

    {{ super() }}

    {% for group in groups %}
    <a href="/detail_group/{{ group.id }}">{{ group.name }}</a>
    <br>
    {% endfor %}
    <a href="/add_group">グループを追加する</a>

    {% endblock %}

    {% block navber %}
    {{ super() }}
    {% endblock %}
</body>
</html>