<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>group</title>
</head>
<body>

    {% extends "layout.html" %}
    {% block layout %}
<!-- 
    {% block name %}
    グループ
    {% endblock %} -->

    {{ super() }}


    <ul class="list-group">
        
        {% for group in groups %}
        <li class="list-group-item"><a style="Text-decoration: none" href="/detail_group/{{ group.id }}">{{ group.name }}</a></li>
        {% endfor %}
      </ul>
    
    <a href="/add_group" class="btn btn-primary">グループを追加する</a>

    {% endblock %}

    {% block navber %}
    {{ super() }}
    {% endblock %}
</body>
</html>