<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="../static/js/sample.js"></script>
</head>

<body>
    {% extends "layout.html" %}
    {% block layout %}
<!-- 
    {% block name %}
    メインカテゴリ選択
    {% endblock %} -->

    {{ super() }}


    <form action="/quiz?page=1" method="post">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">カテゴリ選択</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">出題年選択</button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

            <ul class="list-group">
                {% for main_category_name in main_category_names %}
                    <div class="d-grid gap-2">

                        <div class="form-check">
                            <label  class="form-check-label"  for="btn-check-{{ main_category_name.id }}">
                                <input class="form-check-input" onchange="change()"  checked id="btn-check-{{ main_category_name.id }}" value="{{ main_category_name.id }}" name="main_category" type="checkbox" >
                            {{main_category_name.name}}
                            </label>
                        </div>

                    {% endfor %}
            </ul>
                    </div>


        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">                
        <ul class="list-group">
            {% for question in questions %}
            <div class="d-grid gap-2">

                <div class="form-check">
                    
                    <label class="form-check-label"  for="btn-check-{{ question.year }}">
                        <input class="form-check-input" onchange="change()" value="{{ question.year }}"  checked name="year" type="checkbox" id="btn-check-{{ question.year }}">
                        {{question.year}}
                    </label>
                </div>

            {% endfor %}
        </ul>

        </div>

            <input type="submit" class="btn btn-success mt-5" id="button" value="テストを出題">
    </form>
    {% endblock %}

    {% block navber %}
    {{ super() }}
    {% endblock %}
</body>

</html>